<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to League Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="welcome.css">
</head>
<body>
    <header class="header">
        <div class="logo"></div>
        <div class="header-content">
            <div class="usert"><i class="fa-solid fa-globe"></i> User</div>
            <nav class="auth-links">
                <a href="/login " class="login-link">Login</a>
                <a href="/register" class="reg-link">Register</a>
            </nav>
        </div>
    </header>
    <main class="main_class">
        <section id="intro">
            <h1>Welcome to PlayNex</h1>
            <p>All Sports, One Platform: Track, Analyze, and Stay Live with Every Game.</p>
        </section>
        <section id="features-slider">
            <h2 class="feat">Features</h2>
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <img src="https://w0.peakpx.com/wallpaper/807/522/HD-wallpaper-cricket-match-pitch-match-grass-men-field-team-cricket.jpg
                        " alt="Cricket">
                        <div class="caption">Cricket</div>
                    </div>
                    <div class="slide">
                        <img src="https://w0.peakpx.com/wallpaper/661/230/HD-wallpaper-football-football-game-football-stadium.jpg
                        " alt="Football">
                        <div class="caption">Football</div>
                    </div>
                    <div class="slide">
                        <img src="https://w0.peakpx.com/wallpaper/928/551/HD-wallpaper-game-time-basketball-people-stadium.jpg
                        " alt="Basketball">
                        <div class="caption">Basketball</div>
                    </div>
                    <div class="slide">
                        <img src="https://c1.wallpaperflare.com/preview/44/584/991/wimbledon-final-tennis-centre-court.jpg
                        " alt="Tennis">
                        <div class="caption">Tennis</div>
                    </div>
                    <div class="slide">
                        <img src="https://img.olympics.com/images/image/private/t_s_pog_staticContent_hero_xl_2x/f_auto/v1536936974/primary/exvzqcvorticinejmmel
                        " alt="Volleyball">
                        <div class="caption">Volleyball</div>
                    </div>
                    <div class="slide">
                        <img src="https://pbs.twimg.com/media/FJPK7fqaUAcw7uj?format=jpg&name=large" alt="Badminton">
                        <div class="caption">Badmiinton</div>
                    </div>
                </div>
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
        </section>
        <script src="welcome.js"></script>
    </main>
</body>
</html>
